fastapi
python-multipart
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1
python-dotenv
pydantic[email]
uuid
httpx
websockets
boto3
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
tzdata
python-multipart
strands-agents
openai
cryptography
